<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASP.NET Web API</title>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-1.8.2.js" type="text/javascript"></script>
    <script src="~/Scripts/ListFeeds.js"></script>
    <script>
        
    </script>
        
    
</head>
<body id="body" >
    <div class="main-content">
        <div>
            <h1>All Feeds</h1>
            <ul id="feeds"/>
        </div>
        <div>
            <label for="feedId">ID:</label>
            <input type="text" id="feedId" size="5"/>
            <input type="button" value="Search" onclick="find();" />
            <p id="feed" />
        </div>
    </div>
</body>
</html>